.card-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-img{
    height: 127px;
    width: 239px;
    }

